.cwp-container, .cwp-container-fluid, .cwp-container-lg, .cwp-container-md, .cwp-container-sm, .cwp-container-xl, .cwp-container-xxl {
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto;
}

.cwp-row {
    --cwp-gutter-x: 1.5rem;
    --cwp-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--cwp-gutter-y));
    margin-right: calc(-.5 * var(--cwp-gutter-x));
    margin-left: calc(-.5 * var(--cwp-gutter-x));
}
.cwp-row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--cwp-gutter-x) * .5);
    padding-left: calc(var(--cwp-gutter-x) * .5);
    margin-top: var(--cwp-gutter-y);
}

.cwp-col {
    flex: 1 0 0;
}
.cwp-col-auto {
    flex: 0 0 auto;
    width: auto;
}
.cwp-col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}
.cwp-col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}
.cwp-col-3 {
    flex: 0 0 auto;
    width: 25%;
}
.cwp-col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
.cwp-col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}
.cwp-col-6 {
    flex: 0 0 auto;
    width: 50%;
}
.cwp-col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}
.cwp-col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}
.cwp-col-9 {
    flex: 0 0 auto;
    width: 75%;
}
.cwp-col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}
.cwp-col-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}
.cwp-col-12 {
    flex: 0 0 auto;
    width: 100%;
}

@media (min-width: 576px) {
    .cwp-container, .cwp-container-sm {
        max-width: 540px;
    }

    .cwp-col-sm {
        flex: 1 0 0;
    }
    .cwp-col-sm-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .cwp-col-sm-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .cwp-col-sm-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .cwp-col-sm-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .cwp-col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .cwp-col-sm-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .cwp-col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .cwp-col-sm-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .cwp-col-sm-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .cwp-col-sm-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .cwp-col-sm-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .cwp-col-sm-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .cwp-col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .cwp-container, .cwp-container-md, .cwp-container-sm {
        max-width: 720px;
    }

    .cwp-col-md {
        flex: 1 0 0;
    }
    .cwp-col-md-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .cwp-col-md-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .cwp-col-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .cwp-col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .cwp-col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .cwp-col-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .cwp-col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .cwp-col-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .cwp-col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .cwp-col-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .cwp-col-md-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .cwp-col-md-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .cwp-col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .cwp-container, .cwp-container-lg, .cwp-container-md, .cwp-container-sm {
        max-width: 960px;
    }

    .cwp-col-lg {
        flex: 1 0 0;
    }
    .cwp-col-lg-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .cwp-col-lg-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .cwp-col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .cwp-col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .cwp-col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .cwp-col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .cwp-col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .cwp-col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .cwp-col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .cwp-col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .cwp-col-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .cwp-col-lg-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .cwp-col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .cwp-container, .cwp-container-lg, .cwp-container-md, .cwp-container-sm, .cwp-container-xl {
        max-width: 1140px;
    }

    .cwp-col-xl {
        flex: 1 0 0;
    }
    .cwp-col-xl-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .cwp-col-xl-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .cwp-col-xl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .cwp-col-xl-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .cwp-col-xl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .cwp-col-xl-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .cwp-col-xl-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .cwp-col-xl-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .cwp-col-xl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .cwp-col-xl-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .cwp-col-xl-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .cwp-col-xl-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .cwp-col-xl-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 1400px) {
    .cwp-container, .cwp-container-lg, .cwp-container-md, .cwp-container-sm, .cwp-container-xl, .cwp-container-xxl {
        max-width: 1320px;
    }

    .cwp-col-xxl {
        flex: 1 0 0;
    }
    .cwp-col-xxl-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .cwp-col-xxl-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .cwp-col-xxl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .cwp-col-xxl-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .cwp-col-xxl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .cwp-col-xxl-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .cwp-col-xxl-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .cwp-col-xxl-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .cwp-col-xxl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .cwp-col-xxl-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .cwp-col-xxl-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .cwp-col-xxl-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .cwp-col-xxl-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}